h1 {
    text-align: center;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.selection button {
    flex-grow: 1;
    flex-wrap: wrap;
    height: 60px;
    border-radius: 8px;
    font-size: large;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.selection div {
    height: 50px;
}